select,option,textarea,button,textarea,input,body {
  font: normal 12px/150% Tahoma, Arial, sans-serif !important;
}

input.form-submit,
a.button {
  font-family: Tahoma, Arial, sans-serif !important;
}

div.admin-options label {
  font: 12px/150% Tahoma, Arial, sans-serif !important;
}